@import url(../vendor/normalize.css);

@font-face {
 src: url(./fonts/inter/Inter-Black.woff2) format('woff2'),
 url(./fonts/inter/Inter-Black.woff) format('woff');
 font-family: 'Inter';
 font-weight: 900;
}

@font-face {
 src: url(./fonts/inter/Inter-Bold.woff) format('woff'),
 url(./fonts/inter/Inter-Bold.woff2) format('woff2');
 font-family: 'Inter';
 font-weight: 700;
}

@font-face {
 src: url(./fonts/inter/Inter-Regular.woff2) format('woff2'),
 url(./fonts/inter/Inter-Regular.woff) format('woff');
 font-family: 'Inter';
 font-weight: 400;
}

.page {
 margin: 0 auto;
 max-width: 100%;
 background-color: #2A2C2F;
 font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
 color: #FFF;
}

.page__header {
  padding-top: 28px;
  margin: 0 auto;
  margin-bottom: 56px;
}

.header {
  max-width: 1184px;
  width: calc(100% - 96px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 176px;
  height: 52px;
}

.header__lang-Link {
  max-width: 30px;
  margin-right: 18px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #FFF;
}

.header__lang-Link:last-of-type {
  margin-right: 0;
}

.header__lang-Link_active {
  text-decoration: underline;
}

.content {
  margin: 0 auto;
  max-width: 1280px;
  display: block;
}

.section_margins_bottom {
  margin: 0 auto;
  margin-bottom: 92px;
}

.lead {
  width: calc(100% - 148px*2);
}

.lead__image {
  margin: 0;
  width: 100%;
  max-width: 984px;
}

.lead__title {
 margin: 0 auto 32px;
  max-width: 720px;
 font-weight: 900;
 font-size: 96px;
 line-height: 100px;
 text-align: center;
 font-style: normal;
}

.lead__subtitle {
  margin: 0 auto 64px;
  max-width: 640px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-style: normal;
}

.lead__caption {
  margin-top: 8px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  font-style: normal;
  text-transform: uppercase;
}

.intro {
  width: calc(100% - 148px*2);
}

.intro__title {
  margin: 0 0 40px 0;
  max-width: 690px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  font-style: normal;
}

.intro__text {
  margin: 0 0 40px 0;
  max-width: 690px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26.08px;
  font-style: normal;
}

.intro__list {
  margin: 0;
  padding: 0;
}

.intro__info {
 max-width: 690px;
 font-weight: 700;
font-size: 12px;
line-height: 18px;
font-style: normal;
list-style: none;
}

.photo-grid {
  max-width: 1184px;
  width: calc(100% - 48px*2);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

.photo-grid__image {
  min-width: 248px;
  max-width: 100%;
}

.places {
  width: calc(100% - 148px*2);
}

.place {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 40px;
}

.place__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  font-style: normal;
}

.website {
  align-self:flex-end;
}

.website__url-header {
  margin: 0;
  padding-bottom: 12px;
font-weight: 400;
font-size: 18px;
line-height: 22px;
}

.website__link {
  margin: 0;
 padding-bottom: 26px;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color:#FFF;
}

.place__image {
  margin: 0;
  width: 100%;
  max-width: 460px;
}

.place__paragraph {
margin-bottom: 26px;
font-weight: 400;
font-size: 18px;
line-height: 29.34px;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

.cover {
  width: calc(100% - 48px*2);
  max-width: 1184px;
  min-height: 740px;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
overflow: hidden;
color: #fff;
  background-image: url("./images/cover-trains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  align-items: center;
}

/*.cover__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 50%;*/

}

  .cover__title {
    max-width: 560px;
width: 100%;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    text-align: center;
    margin: 0 0 32px 0;
}

.cover__subtitle {
  max-width: 360px;
width: 100%;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.page__footer {
  margin: 0 auto;
  margin-bottom: 24px;
}

.footer {
  width: calc(100% - 48px*2);
max-width: 1184px;
  display: flex;
justify-content: space-between;
align-items: center;
}

.footer__Links {

}



.footer__Link {
  font-size: 16px;
line-height: 18px;
font-weight: 400;
text-decoration: none;
color: #FFF;
margin-right: 18px;
}

.footer__Link:last-child {
  margin-right: 0;
}

.footer__copyrigth {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

