.place__paragraph {
  /*margin-bottom:0 0 26 0px;*/
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
  font-style: normal;
  font-weight: normal;
}

  /*.place__paragraph:last-child {
    margin-bottom: 0;
  }*/

  @media screen and (max-width: 1023px) {
    .place__paragraph {
      font-size: 16px;
      line-height: 26.08px;
      /*margin-bottom: 25px;*/
    }
  }

  @media screen and (max-width: 767px) {
    .place__paragraph {
      max-width: calc(100% - 16px*2);
      padding-left: 16px;
    }
  }
